<html>
	<head>
		<title></title>
	</head>
	<body>
		<div id="ArtistList"></div>
		<div id="Artist"> </div>

		<script type="text/template" id="ArtistListTemplate">
			<ul>
			<% Artists.models.forEach(function(artist) { %>
				<li><a href="#artist/<%= artist.get('name') %>"><%= artist.get('name') %> (<%= artist.get("genres").join(',') %>)</a></li>
			<% }); %>
			</ul>
		</script>

		<script type="text/template" id="ArtistTemplate">
			<a href="#">back</a>
            <div role="details">
                <a href="#artist/<%= artist.get('name') %>/prev">prev</a>
                <a href="#artist/<%= artist.get('name') %>/next">next</a>
                <h1><%= artist.get('name') %></h1>
                <div><%= artist.get('genres').join(',') %></div>
            </div>
			<h2>Similar</h2>
			<div role="similar"></div>
			<h2>Tags</h2>
			<div role="tags"></div>
		</script>

		<script type="text/template" id="SimilarAritstTemplate">
			<ul>
			<% similarArtists.forEach(function(similar) { %>
				<li>
					<%= similar.get("name") %> 
					<% similar.get("genres").forEach(function(genre) { %>
						<button data-action="setGenre"><%= genre %></button>
					<% }); %>
				</li>
			<% }); %>
			</ul>
		</script>

		<script type="text/template" id="TagsTemplate">
			<ul>
			<% tags.forEach(function(tag) { %>
				<li><button data-action="setGenre"><%= tag.name %></button> (<%= tag.count %>)</li>
			<% }); %>
			</ul>
		</script>

        <script src="/socket.io/socket.io.js"></script>
		<script src="scripts/zepto.js"></script>	
		<script src="scripts/underscore-min.js"></script>	
		<script src="scripts/backbone.js"></script>	
		<script src="models/artist.js"></script>	
		<script src="views/artist_list.js"></script>	
		<script src="views/artist.js"></script>	
		<script src="views/similar.js"></script>	
		<script src="views/tags.js"></script>	
		<script src="controllers/genre_finder.js"></script>	
		<script>
			//var view = new ArtistListView();	
			window.app = new GenreFinderController();
			/*
			Artists.bind("add", function() {
				console.log("2 add");
			});
			Artists.bind("refresh", function() {
				console.log("2 refresh");
			});
			Artists.bind("all", function(eventName) {
				console.log(Artists);
				return;
				var i = Artists[0];
				console.log(i);
				i.set("genre", "rock");
			});
			//Artists.create(new Artist({ name: 'incubus' }));
			Artists.fetch();
			*/
		</script>
	</body>
</html>
