<html>
	<head>
		<title></title>
	</head>
	<body>
		<div id="ArtistList"></div>
		<div id="Artist"></div>

		<script type="text/template" id="ArtistListTemplate">
			<% _.each(Artists.models, function(artist) { %>
				<li><a href="#artist/<%= artist.get('name') %>"><%= artist.get('name') %> (<%= artist.get("genres").join(',') %>)</a></li>
			<% }); %>
		</script>


		<script src="scripts/zepto.js"></script>	
		<script src="scripts/underscore-min.js"></script>	
		<script src="scripts/backbone.js"></script>	
		<script src="models/artist.js"></script>	
		<script src="views/artist_list.js"></script>	
		<script src="controllers/genre_finder.js"></script>	
		<script>
			//var view = new ArtistListView();	
			window.app = new GenreFinderController();
			Backbone.history.start();
			/*
			Artists.bind("add", function() {
				console.log("2 add");
			});
			Artists.bind("refresh", function() {
				console.log("2 refresh");
			});
			Artists.bind("all", function(eventName) {
				console.log(Artists);
				return;
				var i = Artists[0];
				console.log(i);
				i.set("genre", "rock");
			});
			//Artists.create(new Artist({ name: 'incubus' }));
			Artists.fetch();
			*/
		</script>
	</body>
</html>
